<!DOCTYPE html>
<html>
<head>
  <title>Instalove</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

</head>
<body>
  <div class="wrap">
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <div class="row"><div class="col-xs-12"><%= render 'layouts/footer' %></div></div>
</body>
</html>
